-- A actualização de estados transforma as linhas de todas as tabelas com o zzstate a 1 para zzstate a 11 (fichas vermelhas)
use [W_GnBD]
UPDATE [SQBJOGO] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [SQBCLUBE] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [SQBTREINADOR] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [ASYNCPROCESS] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [NOTIFICATIONEMAILSIGNATURE] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [SQBEXERCICIO] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [USERAUTHORIZATION] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [SQBJOGADOR] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [USERLOGIN] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [SQBCONVOCATORIA] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [SQBPRESENCA] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [NOTIFICATIONMESSAGE] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [ASYNCPROCESSATTACHMENTS] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [SQBMEM] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [ASYNCPROCESSARGUMENT] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [SQBTREINO] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
GO
