USE [W_GnBD]
if (1 > isnull((select versindx from SQBcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'SQBCLUBE_CODCLUBE', 'codclube', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'SQBCLUBE_CF3750C5F3BC4354', 'nome', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'sqbclube', 'SQBCLUBE_CODCLUBE', 'sqb';
end
GO
if (1 > isnull((select versindx from SQBcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'SQBMEM_CODMEM__', 'codmem', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'sqbmem', 'SQBMEM_CODMEM__', 'sqb';
end
GO
if (1 > isnull((select versindx from SQBcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERLOGIN_CODPSW__', 'codpsw', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'SQBPSW_FF87D8DBC890425D', 'nome', 0, 1, 0, 0
UNION ALL
SELECT 'SQBPSW_FF87D8DBC890425D','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userlogin', 'USERLOGIN_CODPSW__', 'sqb';
end
GO
if (1 > isnull((select versindx from SQBcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESS_CODASCPR', 'codascpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocess', 'ASYNCPROCESS_CODASCPR', 'sqb';
end
GO
if (1 > isnull((select versindx from SQBcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'codsigna', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationemailsignature', 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'sqb';
end
GO
if (1 > isnull((select versindx from SQBcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONMESSAGE_CODMESGS', 'codmesgs', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationmessage', 'NOTIFICATIONMESSAGE_CODMESGS', 'sqb';
end
GO
if (1 > isnull((select versindx from SQBcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'SQBJOGADOR_CODJOGADOR', 'codjogador', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'SQBJOGADOR_F22DF19D95164E60', 'numerocamisola', 0, 1, 0, 0
UNION ALL
SELECT 'SQBJOGADOR_F22DF19D95164E60','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'SQBJOGADOR_6CFCFA32A8FE4F76', 'nome', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'sqbjogador', 'SQBJOGADOR_CODJOGADOR', 'sqb';
end
GO
if (3 > isnull((select versindx from SQBcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'SQBJOGO_CODJOGO_', 'codjogo', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'SQBJOGO_3BB4EBD3D56E4305', 'data', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'SQBJOGO_CA9395ECB9D0495E', 'titulo', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'sqbjogo', 'SQBJOGO_CODJOGO_', 'sqb';
end
GO
if (1 > isnull((select versindx from SQBcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSARGUMENT_CODARGPR', 'codargpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessargument', 'ASYNCPROCESSARGUMENT_CODARGPR', 'sqb';
end
GO
if (1 > isnull((select versindx from SQBcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'codpranx', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessattachments', 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'sqb';
end
GO
if (1 > isnull((select versindx from SQBcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERAUTHORIZATION_CODUA___', 'codua', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'SQBS_UA_9210ED43818E449D', 'naodupli', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'SQBS_UA_9210ED43818E449D', 'role', 0, 2, 0, 0
UNION ALL
SELECT 'SQBS_UA_9210ED43818E449D','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userauthorization', 'USERAUTHORIZATION_CODUA___', 'sqb';
end
GO
if (1 > isnull((select versindx from SQBcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'SQBTREINADOR_CODTREINADOR', 'codtreinador', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'sqbtreinador', 'SQBTREINADOR_CODTREINADOR', 'sqb';
end
GO
if (1 > isnull((select versindx from SQBcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'SQBTREINO_CODTREINO', 'codtreino', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'SQBTREINO_8023FCD027024CFF', 'data', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'sqbtreino', 'SQBTREINO_CODTREINO', 'sqb';
end
GO
if (1 > isnull((select versindx from SQBcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'SQBCONVOCATORIA_CODCONVOCATORIA', 'codconvocatoria', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'sqbconvocatoria', 'SQBCONVOCATORIA_CODCONVOCATORIA', 'sqb';
end
GO
if (1 > isnull((select versindx from SQBcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'SQBEXERCICIO_CODEXERCICIO', 'codexercicio', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'SQBEXERCICIO_25D390D54DE24DE7', 'codtreino', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'sqbexercicio', 'SQBEXERCICIO_CODEXERCICIO', 'sqb';
end
GO
if (1 > isnull((select versindx from SQBcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'SQBPRESENCA_CODPRESENCA', 'codpresenca', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'sqbpresenca', 'SQBPRESENCA_CODPRESENCA', 'sqb';
end
GO

if (3 > isnull((select versindx from SQBcfg),0) or 'W_GnZeroTrue'='1')
begin
-- Indíces de tabelas hardcoded (continuam da forma antiga [apagar e criar])
if (exists(select top 1 name from sys.indexes where name = 'sqbalerta_alerta01'))
	DROP INDEX sqbalerta_alerta01 ON sqbalerta
CREATE INDEX sqbalerta_alerta01 ON sqbalerta (codaltent)

if (exists(select top 1 name from sys.indexes where name = 'sqbpostit_postit01'))
	DROP INDEX sqbpostit_postit01 ON sqbpostit
CREATE INDEX sqbpostit_postit01 ON sqbpostit (tabela,codtabel)

if (exists(select top 1 name from sys.indexes where name = 'sqbpostit_postit02'))
	DROP INDEX sqbpostit_postit02 ON sqbpostit
CREATE INDEX sqbpostit_postit02 ON sqbpostit (codtabel)

if (exists(select top 1 name from sys.indexes where name = 'sqbpostit_postit03'))
	DROP INDEX sqbpostit_postit03 ON sqbpostit
CREATE INDEX sqbpostit_postit03 ON sqbpostit (postit)

if (exists(select top 1 name from sys.indexes where name = 'sqbpostit_postit04'))
	DROP INDEX sqbpostit_postit04 ON sqbpostit
CREATE INDEX sqbpostit_postit04 ON sqbpostit (tpostit)

if (exists(select top 1 name from sys.indexes where name = 'sqbpostit_postit05'))
	DROP INDEX sqbpostit_postit05 ON sqbpostit
CREATE INDEX sqbpostit_postit05 ON sqbpostit (codpsw)


if (exists(select top 1 name from sys.indexes where name = 'sqbpostit_postit06'))
	DROP INDEX sqbpostit_postit06 ON sqbpostit
CREATE INDEX sqbpostit_postit06 ON sqbpostit (nivel)

if (exists(select top 1 name from sys.indexes where name = 'sqbpostit_postit07'))
	DROP INDEX sqbpostit_postit07 ON sqbpostit
CREATE INDEX sqbpostit_postit07 ON sqbpostit (codpost1)

if (exists(select top 1 name from sys.indexes where name = 'sqbaltent_altent01'))
	DROP INDEX sqbaltent_altent01 ON sqbaltent
CREATE INDEX sqbaltent_altent01 ON sqbaltent (codtalert,tipo)

if (exists(select top 1 name from sys.indexes where name = 'sqbdelega_delega01'))
	DROP INDEX sqbdelega_delega01 ON sqbdelega
CREATE INDEX sqbdelega_delega01 ON sqbdelega (coddelega,codpswup)

if (exists(select top 1 name from sys.indexes where name = 'sqbdelega_delega02'))
	DROP INDEX sqbdelega_delega02 ON sqbdelega
CREATE INDEX sqbdelega_delega02 ON sqbdelega (coddelega,codpswdw)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums01'))
	DROP INDEX docums_docums01 ON docums
CREATE INDEX docums_docums01 ON docums (documid,versao)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums02'))
	DROP INDEX docums_docums02 ON docums
CREATE INDEX docums_docums02 ON docums (nome)


if (exists(select top 1 name from sys.indexes where name = 'docums_docums03'))
	DROP INDEX docums_docums03 ON docums
CREATE INDEX docums_docums03 ON docums (tabela,ZZSTATE)

if (exists(select top 1 name from sys.indexes where name = 'sqblstusr_codpsw'))
	DROP INDEX sqblstusr_codpsw ON sqblstusr
CREATE INDEX sqblstusr_codpsw ON sqblstusr (codpsw, descric)

if (exists(select top 1 name from sys.indexes where name = 'sqblstcol_codlstusr'))
	DROP INDEX sqblstcol_codlstusr ON sqblstcol
CREATE INDEX sqblstcol_codlstusr ON sqblstcol (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'sqblstren_codlstusr'))
	DROP INDEX sqblstren_codlstusr ON sqblstren
CREATE INDEX sqblstren_codlstusr ON sqblstren (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'sqbusrwid_codlstusr'))
	DROP INDEX sqbusrwid_codlstusr ON sqbusrwid
CREATE INDEX sqbusrwid_codlstusr ON sqbusrwid (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'sqbtblcfg_codpsw_uuid_name'))
	DROP INDEX sqbtblcfg_codpsw_uuid_name ON sqbtblcfg
CREATE INDEX sqbtblcfg_codpsw_uuid_name ON sqbtblcfg (codpsw, uuid, name)

if (exists(select top 1 name from sys.indexes where name = 'sqbtblcfg_codpsw_uuid'))
	DROP INDEX sqbtblcfg_codpsw_uuid ON sqbtblcfg
CREATE INDEX sqbtblcfg_codpsw_uuid ON sqbtblcfg (codpsw, uuid)


if (exists(select top 1 name from sys.indexes where name = 'logsqball_logsqball01'))
	DROP INDEX logsqball_logsqball01 ON logsqball
CREATE CLUSTERED INDEX [logsqball_logsqball01] ON [dbo].[logSQBall]([LOGTABLE] ASC, [LOGFIELD] ASC, [OP] ASC,[DATE] ASC) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]


UPDATE SQBcfg set versindx = 3
end
GO