USE [W_GnBD]

GO

-- migração de dados da tabela SQBCLUBE (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[SQBCLUBE] ([CODCLUBE], [FOTO], [NOME], [ESCALAO], [EPOCA], [PRESIDENTE], [COORDTECN], [COORDFORM], [TREINADORPRINCIPAL], [TREINADORADJUNTO], [VALORMERCADOEQUIPA], [ZZSTATE])
SELECT [CLUBE].[CODCLUBE], [CLUBE].[FOTO], [CLUBE].[NOME], [CLUBE].[ESCALAO], [CLUBE].[EPOCA], [CLUBE].[PRESIDENTE], [CLUBE].[COORDTECN], [CLUBE].[COORDFORM], [CLUBE].[TREINADORPRINCIPAL], [CLUBE].[TREINADORADJUNTO], [CLUBE].[VALORMERCADOEQUIPA], [CLUBE].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[SQBCLUBE] AS [CLUBE]
WHERE [CLUBE].ZZSTATE = 0
GO

-- migração de dados da tabela SQBMEM (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[SQBMEM] ([CODMEM], [LOGIN], [ROTINA], [ALTURA], [OBS], [HOSTID], [CLIENTID], [ZZSTATE])
SELECT [MEM].[CODMEM], [MEM].[LOGIN], [MEM].[ROTINA], [MEM].[ALTURA], [MEM].[OBS], [MEM].[HOSTID], [MEM].[CLIENTID], [MEM].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[SQBMEM] AS [MEM]
WHERE [MEM].ZZSTATE = 0
GO

-- migração de dados da tabela UserLogin (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[UserLogin] ([CODPSW], [NOME], [PASSWORD], [CERTSN], [EMAIL], [PSWTYPE], [SALT], [DATAPSW], [USERID], [PSW2FAVL], [PSW2FATP], [DATEXP], [ATTEMPTS], [PHONE], [STATUS], [ASSOCIA], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [PSW].[CODPSW], [PSW].[NOME], [PSW].[PASSWORD], [PSW].[CERTSN], [PSW].[EMAIL], [PSW].[PSWTYPE], [PSW].[SALT], [PSW].[DATAPSW], [PSW].[USERID], [PSW].[PSW2FAVL], [PSW].[PSW2FATP], [PSW].[DATEXP], [PSW].[ATTEMPTS], [PSW].[PHONE], [PSW].[STATUS], [PSW].[ASSOCIA], [PSW].[OPERCRIA], [PSW].[DATACRIA], [PSW].[OPERMUDA], [PSW].[DATAMUDA], [PSW].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[UserLogin] AS [PSW]
WHERE [PSW].ZZSTATE = 0
GO

-- migração de dados da tabela AsyncProcess (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[AsyncProcess] ([CODASCPR], [TYPE], [DATEREQU], [INITPRC], [ENDPRC], [DURATION], [STATUS], [RSLTMSG], [FINISHED], [LASTUPDT], [RESULT], [INFO], [PERCENTA], [MODOPROC], [EXTERNAL], [ID], [CODENTIT], [MOTIVO], [CODPSW], [OPERSHUT], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_APR].[CODASCPR], [S_APR].[TYPE], [S_APR].[DATEREQU], [S_APR].[INITPRC], [S_APR].[ENDPRC], [S_APR].[DURATION], [S_APR].[STATUS], [S_APR].[RSLTMSG], [S_APR].[FINISHED], [S_APR].[LASTUPDT], [S_APR].[RESULT], [S_APR].[INFO], [S_APR].[PERCENTA], [S_APR].[MODOPROC], [S_APR].[EXTERNAL], [S_APR].[ID], [S_APR].[CODENTIT], [S_APR].[MOTIVO], [S_APR].[CODPSW], [S_APR].[OPERSHUT], [S_APR].[OPERCRIA], [S_APR].[DATACRIA], [S_APR].[OPERMUDA], [S_APR].[DATAMUDA], [S_APR].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[AsyncProcess] AS [S_APR]
WHERE [S_APR].ZZSTATE = 0
GO

-- migração de dados da tabela NotificationEmailSignature (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[NotificationEmailSignature] ([CODSIGNA], [NAME], [IMAGE], [TEXTASS], [USERNAME], [PASSWORD], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_NES].[CODSIGNA], [S_NES].[NAME], [S_NES].[IMAGE], [S_NES].[TEXTASS], [S_NES].[USERNAME], [S_NES].[PASSWORD], [S_NES].[OPERCRIA], [S_NES].[DATACRIA], [S_NES].[OPERMUDA], [S_NES].[DATAMUDA], [S_NES].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[NotificationEmailSignature] AS [S_NES]
WHERE [S_NES].ZZSTATE = 0
GO

-- migração de dados da tabela NotificationMessage (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[NotificationMessage] ([CODMESGS], [CODSIGNA], [CODPMAIL], [FROM], [CODTPNOT], [CODDESTN], [TO], [DESTNMAN], [TOMANUAL], [CC], [BCC], [IDNOTIF], [NOTIFICA], [EMAIL], [ASSUNTO], [AGREGADO], [ANEXO], [HTML], [ATIVO], [DESIGNAC], [MENSAGEM], [GRAVABD], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_NM].[CODMESGS], [S_NM].[CODSIGNA], [S_NM].[CODPMAIL], [S_NM].[FROM], [S_NM].[CODTPNOT], [S_NM].[CODDESTN], [S_NM].[TO], [S_NM].[DESTNMAN], [S_NM].[TOMANUAL], [S_NM].[CC], [S_NM].[BCC], [S_NM].[IDNOTIF], [S_NM].[NOTIFICA], [S_NM].[EMAIL], [S_NM].[ASSUNTO], [S_NM].[AGREGADO], [S_NM].[ANEXO], [S_NM].[HTML], [S_NM].[ATIVO], [S_NM].[DESIGNAC], [S_NM].[MENSAGEM], [S_NM].[GRAVABD], [S_NM].[OPERCRIA], [S_NM].[DATACRIA], [S_NM].[OPERMUDA], [S_NM].[DATAMUDA], [S_NM].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[NotificationMessage] AS [S_NM]
WHERE [S_NM].ZZSTATE = 0
GO

-- migração de dados da tabela SQBJOGADOR (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[SQBJOGADOR] ([CODJOGADOR], [CODCLUBE], [NOME], [DATANASCIMENTO], [POSICAO], [NUMEROCAMISOLA], [POSICAOSEGUNDARIA], [PEDOMINANTE], [EQUIPAANTERIOR], [FOTO], [SPPOSICAOMEDIO], [SPPOSICAOAT], [SPPOSICAODEF], [IDADEJOGADOR], [VALORMERCADO], [NATIONALIDADE], [SP2POSICAOMEDIO], [SP2POSICAOAT], [SP2POSICAODEF], [ZZSTATE])
SELECT [JOGADOR].[CODJOGADOR], [JOGADOR].[CODCLUBE], [JOGADOR].[NOME], [JOGADOR].[DATANASCIMENTO], [JOGADOR].[POSICAO], [JOGADOR].[NUMEROCAMISOLA], [JOGADOR].[POSICAOSEGUNDARIA], [JOGADOR].[PEDOMINANTE], [JOGADOR].[EQUIPAANTERIOR], [JOGADOR].[FOTO], [JOGADOR].[SPPOSICAOMEDIO], [JOGADOR].[SPPOSICAOAT], [JOGADOR].[SPPOSICAODEF], [JOGADOR].[IDADEJOGADOR], [JOGADOR].[VALORMERCADO], [JOGADOR].[NATIONALIDADE], [JOGADOR].[SP2POSICAOMEDIO], [JOGADOR].[SP2POSICAOAT], [JOGADOR].[SP2POSICAODEF], [JOGADOR].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[SQBJOGADOR] AS [JOGADOR]
WHERE [JOGADOR].ZZSTATE = 0
GO

-- migração de dados da tabela SQBJOGO (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[SQBJOGO] ([CODJOGO], [DATA], [LOCAL], [RESULTADO], [EQUIPAADVERSARIA], [TITULO], [CODCLUBE], [ZZSTATE])
SELECT [JOGO].[CODJOGO], [JOGO].[DATA], [JOGO].[LOCAL], [JOGO].[RESULTADO], [JOGO].[EQUIPAADVERSARIA], [JOGO].[TITULO], [JOGO].[CODCLUBE], [JOGO].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[SQBJOGO] AS [JOGO]
WHERE [JOGO].ZZSTATE = 0
GO

-- migração de dados da tabela AsyncProcessArgument (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[AsyncProcessArgument] ([CODARGPR], [CODS_APR], [ID], [VALOR], [DOCUMENT], [DOCUMENTFK], [TIPO], [DESIGNAC], [HIDDEN], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_ARG].[CODARGPR], [S_ARG].[CODS_APR], [S_ARG].[ID], [S_ARG].[VALOR], [S_ARG].[DOCUMENT], [S_ARG].[DOCUMENTFK], [S_ARG].[TIPO], [S_ARG].[DESIGNAC], [S_ARG].[HIDDEN], [S_ARG].[OPERCRIA], [S_ARG].[DATACRIA], [S_ARG].[OPERMUDA], [S_ARG].[DATAMUDA], [S_ARG].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[AsyncProcessArgument] AS [S_ARG]
WHERE [S_ARG].ZZSTATE = 0
GO

-- migração de dados da tabela AsyncProcessAttachments (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[AsyncProcessAttachments] ([CODPRANX], [CODS_APR], [DOCUMENT], [DOCUMENTFK], [OPERCRIA], [DATACRIA], [ZZSTATE])
SELECT [S_PAX].[CODPRANX], [S_PAX].[CODS_APR], [S_PAX].[DOCUMENT], [S_PAX].[DOCUMENTFK], [S_PAX].[OPERCRIA], [S_PAX].[DATACRIA], [S_PAX].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[AsyncProcessAttachments] AS [S_PAX]
WHERE [S_PAX].ZZSTATE = 0
GO

-- migração de dados da tabela UserAuthorization (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[UserAuthorization] ([CODUA], [CODPSW], [SISTEMA], [MODULO], [NAODUPLI], [ROLE], [NIVEL], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_UA].[CODUA], [S_UA].[CODPSW], [S_UA].[SISTEMA], [S_UA].[MODULO], [S_UA].[NAODUPLI], [S_UA].[ROLE], [S_UA].[NIVEL], [S_UA].[OPERCRIA], [S_UA].[DATACRIA], [S_UA].[OPERMUDA], [S_UA].[DATAMUDA], [S_UA].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[UserAuthorization] AS [S_UA]
WHERE [S_UA].ZZSTATE = 0
GO

-- migração de dados da tabela SQBTREINADOR (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[SQBTREINADOR] ([CODTREINADOR], [CODCLUBE], [NOME], [FUNCAO], [LASTTREINOCRIADO], [ZZSTATE])
SELECT [TREINADOR].[CODTREINADOR], [TREINADOR].[CODCLUBE], [TREINADOR].[NOME], [TREINADOR].[FUNCAO], [TREINADOR].[LASTTREINOCRIADO], [TREINADOR].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[SQBTREINADOR] AS [TREINADOR]
WHERE [TREINADOR].ZZSTATE = 0
GO

-- migração de dados da tabela SQBCONVOCATORIA (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[SQBCONVOCATORIA] ([CODCONVOCATORIA], [CODJOGADOR], [ZZSTATE])
SELECT [CONVOCATORIA].[CODCONVOCATORIA], [CONVOCATORIA].[CODJOGADOR], [CONVOCATORIA].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[SQBCONVOCATORIA] AS [CONVOCATORIA]
WHERE [CONVOCATORIA].ZZSTATE = 0
GO

-- migração de dados da tabela SQBTREINO (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[SQBTREINO] ([CODTREINO], [CODTREINADOR], [DATA], [OBJETIVO], [NUMJOGADORES], [MICROCICLO], [MESOCICLOS], [MATERIAL], [CODJOGADOR], [NUMTREINO], [ZZSTATE])
SELECT [TREINO].[CODTREINO], [TREINO].[CODTREINADOR], [TREINO].[DATA], [TREINO].[OBJETIVO], [TREINO].[NUMJOGADORES], [TREINO].[MICROCICLO], [TREINO].[MESOCICLOS], [TREINO].[MATERIAL], [TREINO].[CODJOGADOR], [TREINO].[NUMTREINO], [TREINO].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[SQBTREINO] AS [TREINO]
WHERE [TREINO].ZZSTATE = 0
GO

-- migração de dados da tabela SQBEXERCICIO (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[SQBEXERCICIO] ([CODEXERCICIO], [TITULO], [DESCRICAO], [FOTO], [TEMPO], [NUMJOGADOR], [ESPACO], [OBJETIVO], [CODTREINO], [ZZSTATE])
SELECT [EXERCICIO].[CODEXERCICIO], [EXERCICIO].[TITULO], [EXERCICIO].[DESCRICAO], [EXERCICIO].[FOTO], [EXERCICIO].[TEMPO], [EXERCICIO].[NUMJOGADOR], [EXERCICIO].[ESPACO], [EXERCICIO].[OBJETIVO], [EXERCICIO].[CODTREINO], [EXERCICIO].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[SQBEXERCICIO] AS [EXERCICIO]
WHERE [EXERCICIO].ZZSTATE = 0
GO

-- migração de dados da tabela SQBPRESENCA (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[SQBPRESENCA] ([CODPRESENCA], [CODJOGADOR], [CODTREINO], [ESTADO], [ZZSTATE])
SELECT [PRESENCA].[CODPRESENCA], [PRESENCA].[CODJOGADOR], [PRESENCA].[CODTREINO], [PRESENCA].[ESTADO], [PRESENCA].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[SQBPRESENCA] AS [PRESENCA]
WHERE [PRESENCA].ZZSTATE = 0
GO

-- Tabelas Hardcoded
-- migração de dados da tabela Codigos Sequenciais
INSERT INTO [W_GnBD].[dbo].[Codigos_Sequenciais] (id_objecto, proximo)
SELECT id_objecto, proximo FROM [W_GnSrcBD].[dbo].[Codigos_Sequenciais]
GO

-- migração de dados da tabela UserAuthorization
INSERT INTO [W_GnBD].[dbo].[UserAuthorization] (CODUA, CODPSW, SISTEMA, MODULO, ROLE, NIVEL, ZZSTATE)
SELECT UA.CODUA, UA.CODPSW, UA.SISTEMA, UA.MODULO, UA.ROLE, UA.NIVEL, UA.ZZSTATE FROM [W_GnSrcBD].[dbo].[UserAuthorization] AS UA
WHERE UA.ZZSTATE = 0
GO

-- migração de dados da tabela CFG (ao criar schema, fica criada uma linha nesta tabela)
--INSERT INTO [W_GnBD].[dbo].[SQBcfg] (codcfg, checkdat, versao, versindx, manutdat, upgrindx, ZZSTATE)
--SELECT codcfg, checkdat, versao, versindx, manutdat, upgrindx, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBcfg]
--WHERE ZZSTATE = 0
--GO

-- migração de dados da tabela LSTUSR
INSERT INTO [W_GnBD].[dbo].[SQBlstusr] (CODLSTUSR, CODPSW, DESCRIC, IDLIST, MODULO, SISTEMA, ORDERCOL, ORDERTYPE, [DATA], ZZSTATE)
SELECT CODLSTUSR, CODPSW, DESCRIC, IDLIST, MODULO, SISTEMA, ORDERCOL, ORDERTYPE, [DATA], ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBlstusr]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela LSTCOL
INSERT INTO [W_GnBD].[dbo].[SQBlstcol] (CODLSTCOL, CODLSTUSR, TABELA, ALIAS, CAMPO, VISIVEL, POSICAO, OPERACAO, TIPO, ZZSTATE)
SELECT CODLSTCOL, CODLSTUSR, TABELA, ALIAS, CAMPO, VISIVEL, POSICAO, OPERACAO, TIPO, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBlstcol]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela LSTREN
INSERT INTO [W_GnBD].[dbo].[SQBlstren] (CODLSTREN, CODLSTUSR, RENDERIZACAO, VISIVEL, POSICAO, OPERACAO, TIPO, ZZSTATE)
SELECT CODLSTREN, CODLSTUSR, RENDERIZACAO, VISIVEL, POSICAO, OPERACAO, TIPO, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBlstren]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela USRWID
INSERT INTO [W_GnBD].[dbo].[SQBusrwid] (CODUSRWID, CODLSTUSR, WIDGET, ROWKEY, VISIBLE, HPOSITION, VPOSITION, ZZSTATE)
SELECT CODUSRWID, CODLSTUSR, WIDGET, ROWKEY, VISIBLE, HPOSITION, VPOSITION, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBusrwid]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela USRCFG
INSERT INTO [W_GnBD].[dbo].[SQBusrcfg] (codusrcfg, modulo, codpsw, tipo, id, ZZSTATE)
SELECT codusrcfg, modulo, codpsw, tipo, id, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBusrcfg]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela USRSET
INSERT INTO [W_GnBD].[dbo].[SQBusrset] (codusrset, modulo, codpsw, chave, valor, ZZSTATE)
SELECT codusrset, modulo, codpsw, chave, valor, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBusrset]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WKFACT
INSERT INTO [W_GnBD].[dbo].[SQBwkfact] (codwkfact, wfid, actid, tpactid, descrica, duracao, perfil, perfilu, x, y, ZZSTATE)
SELECT codwkfact, wfid, actid, tpactid, descrica, duracao, perfil, perfilu, x, y, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBwkfact]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WKFCON
INSERT INTO [W_GnBD].[dbo].[SQBwkfcon] (codwkfcon, wfid, condid, tpcondid, descrica, tiporegr, sinal, x, y, valor, ZZSTATE)
SELECT codwkfcon, wfid, condid, tpcondid, descrica, tiporegr, sinal, x, y, valor, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBwkfcon]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WKFLIG
INSERT INTO [W_GnBD].[dbo].[SQBwkflig] (codwkflig, wfid, parentid, childid, ptoy, ptox, ptor, tipo, pfromx, pfromy, pfromr, ZZSTATE)
SELECT codwkflig, wfid, parentid, childid, ptoy, ptox, ptor, tipo, pfromx, pfromy, pfromr, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBwkflig]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WKFLOW
INSERT INTO [W_GnBD].[dbo].[SQBwkflow] (codwkflow, descrica, modulo, ZZSTATE)
SELECT codwkflow, descrica, modulo, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBwkflow]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela NOTIFI
INSERT INTO [W_GnBD].[dbo].[SQBnotifi] (codnotifi, modulo, descrica, activid, menuid, usernivl, wfid, ZZSTATE)
SELECT codnotifi, modulo, descrica, activid, menuid, usernivl, wfid, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBnotifi]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela PRMFRM
INSERT INTO [W_GnBD].[dbo].[SQBprmfrm] (codprmfrm, desform, perfil, autoriza, sevalida, prfvalid, prazodia, comprova, prazohor, secompro, mensag1, mensag2, mensag3, mensag4, ZZSTATE)
SELECT codprmfrm, desform, perfil, autoriza, sevalida, prfvalid, prazodia, comprova, prazohor, secompro, mensag1, mensag2, mensag3, mensag4, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBprmfrm]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela SCRCRD
INSERT INTO [W_GnBD].[dbo].[SQBscrcrd] (codscrcrd, descrica, valor, cor, seta, usernivl, ZZSTATE)
SELECT codscrcrd, descrica, valor, cor, seta, usernivl, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBscrcrd]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela DOCUMS
INSERT INTO [W_GnBD].[dbo].[docums] (coddocums, documid, document, docpath, tabela, campo, chave, form, nome, versao, tamanho, extensao, opercria, datacria, opermuda, datamuda, ZZSTATE)
SELECT coddocums, documid, document, docpath, tabela, campo, chave, form, nome, versao, tamanho, extensao, opercria, datacria, opermuda, datamuda, ZZSTATE FROM [W_GnSrcBD].[dbo].[docums]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela POSTIT
INSERT INTO [W_GnBD].[dbo].[SQBpostit] (codpostit, tabela, codtabel, postit, tpostit, datacria, opercria, codpsw, lido, apagado, validade, nivel, codpost1, ZZSTATE)
SELECT codpostit, tabela, codtabel, postit, tpostit, datacria, opercria, codpsw, lido, apagado, validade, nivel, codpost1, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBpostit]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela HASHCD
INSERT INTO [W_GnBD].[dbo].[hashcd] (codhashcd, tabela, campos, datacria, ZZSTATE)
SELECT codhashcd, tabela, campos, datacria, ZZSTATE FROM [W_GnSrcBD].[dbo].[hashcd]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela ALERTA
INSERT INTO [W_GnBD].[dbo].[SQBalerta] (codalerta, codaltent, mensagem, tratado, activo, datacria, datareso, menu, cor, interno, backgrou, sms, email, emailenv, smsenvia, codigo, codigotp, ZZSTATE)
SELECT codalerta, codaltent, mensagem, tratado, activo, datacria, datareso, menu, cor, interno, backgrou, sms, email, emailenv, smsenvia, codigo, codigotp, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBalerta]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela ALTENT
INSERT INTO [W_GnBD].[dbo].[SQBaltent] (codaltent, codtalert, codpsw, grupo, contador, tipo, mensagem, antecede, datainic, datafina, dtmodifi, todos, backgrou, sms, email, codtpgru, codtpess, menu, incluian, activo, individu, ZZSTATE)
SELECT codaltent, codtalert, codpsw, grupo, contador, tipo, mensagem, antecede, datainic, datafina, dtmodifi, todos, backgrou, sms, email, codtpgru, codtpess, menu, incluian, activo, individu, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBaltent]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela TALERT
INSERT INTO [W_GnBD].[dbo].[SQBtalert] (codtalert, nome, metodo, priorida, cor, texto, menu, cmpnome, daltinic, daltfina, incluian, diferenc, anodifer, mesdifer, diadifer, ntabmae, ntabfilh, formid, tabela, campo, tipo, modulo, condicao, ZZSTATE)
SELECT codtalert, nome, metodo, priorida, cor, texto, menu, cmpnome, daltinic, daltfina, incluian, diferenc, anodifer, mesdifer, diadifer, ntabmae, ntabfilh, formid, tabela, campo, tipo, modulo, condicao, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBtalert]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela DELEGA
INSERT INTO [W_GnBD].[dbo].[SQBdelega] (coddelega, codpswup, codpswdw, dateini, dateend, message, revoked, auditusr, opercria, datacria, opermuda, datamuda, ZZSTATE)
SELECT coddelega, codpswup, codpswdw, dateini, dateend, message, revoked, auditusr, opercria, datacria, opermuda, datamuda, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBdelega]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela TABDINAMIC
INSERT INTO [W_GnBD].[dbo].[SQBTABDINAMIC] (codtabdinamic, NOMETABELA, NOMECAMPO, TIPODADOS, TIPOSQL, LARGURA, ZZSTATE)
SELECT codtabdinamic, NOMETABELA, NOMECAMPO, TIPODADOS, TIPOSQL, LARGURA, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBTABDINAMIC]
WHERE ZZSTATE = 0
GO


-- migração de dados da tabela ALTRAN
INSERT INTO [W_GnBD].[dbo].[SQBaltran] (codaltran, typlabel, referenc, [language], curlabel, labellng, altran, opercria, datacria, opermuda, datamuda, ZZSTATE)
SELECT codaltran, typlabel, referenc, [language], curlabel, labellng, altran, opercria, datacria, opermuda, datamuda, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBaltran]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WORKFLOWTASK
INSERT INTO [W_GnBD].[dbo].[SQBworkflowtask] (codtask, codprcess, taskdefid, taskid, performedby, runningsince, nextrun, modifieddate, modifiedby, skipped, isactive, errorExecute, ZZSTATE)
SELECT codtask, codprcess, taskdefid, taskid, performedby, runningsince, nextrun, modifieddate, modifiedby, skipped, isactive, errorExecute, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBworkflowtask]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WORKFLOWPROCESS
INSERT INTO [W_GnBD].[dbo].[SQBworkflowprocess] (codprcess, prcessid, prcessdefid, createdby, status, startdate, modifieddate, modifiedby, codinstance, dotgraph, wferror, ltask, idhk, ZZSTATE)
SELECT codprcess, prcessid, prcessdefid, createdby, status, startdate, modifieddate, modifiedby, codinstance, dotgraph, wferror, ltask, idhk, ZZSTATE FROM [W_GnSrcBD].[dbo].[SQBworkflowprocess]
WHERE ZZSTATE = 0
GO


USE [W_GnBD]
GO
-- Removing invalid FK values
UPDATE [JOGADOR] SET
[JOGADOR].[CODCLUBE] = [q0_CLUBE].[CODCLUBE]
 FROM [W_GnBD].[dbo].[SQBJOGADOR] AS [JOGADOR]
LEFT JOIN [SQBCLUBE] AS [q0_CLUBE] ON [JOGADOR].[CODCLUBE] = [q0_CLUBE].[CODCLUBE]
GO

UPDATE [JOGO] SET
[JOGO].[CODCLUBE] = [q0_CLUBE].[CODCLUBE]
 FROM [W_GnBD].[dbo].[SQBJOGO] AS [JOGO]
LEFT JOIN [SQBCLUBE] AS [q0_CLUBE] ON [JOGO].[CODCLUBE] = [q0_CLUBE].[CODCLUBE]
GO

UPDATE [S_ARG] SET
[S_ARG].[CODS_APR] = [q0_S_APR].[CODASCPR]
 FROM [W_GnBD].[dbo].[AsyncProcessArgument] AS [S_ARG]
LEFT JOIN [AsyncProcess] AS [q0_S_APR] ON [S_ARG].[CODS_APR] = [q0_S_APR].[CODASCPR]
GO

UPDATE [S_PAX] SET
[S_PAX].[CODS_APR] = [q0_S_APR].[CODASCPR]
 FROM [W_GnBD].[dbo].[AsyncProcessAttachments] AS [S_PAX]
LEFT JOIN [AsyncProcess] AS [q0_S_APR] ON [S_PAX].[CODS_APR] = [q0_S_APR].[CODASCPR]
GO

UPDATE [S_UA] SET
[S_UA].[CODPSW] = [q0_PSW].[CODPSW]
 FROM [W_GnBD].[dbo].[UserAuthorization] AS [S_UA]
LEFT JOIN [UserLogin] AS [q0_PSW] ON [S_UA].[CODPSW] = [q0_PSW].[CODPSW]
GO

UPDATE [TREINADOR] SET
[TREINADOR].[CODCLUBE] = [q0_CLUBE].[CODCLUBE]
 FROM [W_GnBD].[dbo].[SQBTREINADOR] AS [TREINADOR]
LEFT JOIN [SQBCLUBE] AS [q0_CLUBE] ON [TREINADOR].[CODCLUBE] = [q0_CLUBE].[CODCLUBE]
GO

UPDATE [CONVOCATORIA] SET
[CONVOCATORIA].[CODJOGADOR] = [q0_JOGADOR].[CODJOGADOR]
 FROM [W_GnBD].[dbo].[SQBCONVOCATORIA] AS [CONVOCATORIA]
LEFT JOIN [SQBJOGADOR] AS [q0_JOGADOR] ON [CONVOCATORIA].[CODJOGADOR] = [q0_JOGADOR].[CODJOGADOR]
GO

UPDATE [TREINO] SET
[TREINO].[CODJOGADOR] = [q0_JOGADOR].[CODJOGADOR]
, [TREINO].[CODTREINADOR] = [q1_TREINADOR].[CODTREINADOR]
 FROM [W_GnBD].[dbo].[SQBTREINO] AS [TREINO]
LEFT JOIN [SQBJOGADOR] AS [q0_JOGADOR] ON [TREINO].[CODJOGADOR] = [q0_JOGADOR].[CODJOGADOR]
LEFT JOIN [SQBTREINADOR] AS [q1_TREINADOR] ON [TREINO].[CODTREINADOR] = [q1_TREINADOR].[CODTREINADOR]
GO

UPDATE [EXERCICIO] SET
[EXERCICIO].[CODTREINO] = [q0_TREINO].[CODTREINO]
 FROM [W_GnBD].[dbo].[SQBEXERCICIO] AS [EXERCICIO]
LEFT JOIN [SQBTREINO] AS [q0_TREINO] ON [EXERCICIO].[CODTREINO] = [q0_TREINO].[CODTREINO]
GO

UPDATE [PRESENCA] SET
[PRESENCA].[CODJOGADOR] = [q0_JOGADOR].[CODJOGADOR]
, [PRESENCA].[CODTREINO] = [q1_TREINO].[CODTREINO]
 FROM [W_GnBD].[dbo].[SQBPRESENCA] AS [PRESENCA]
LEFT JOIN [SQBJOGADOR] AS [q0_JOGADOR] ON [PRESENCA].[CODJOGADOR] = [q0_JOGADOR].[CODJOGADOR]
LEFT JOIN [SQBTREINO] AS [q1_TREINO] ON [PRESENCA].[CODTREINO] = [q1_TREINO].[CODTREINO]
GO


USE [W_GnBD]

GO
