USE [W_GnBD]
ALTER TABLE [dbo].[SQBCONVOCATORIA] WITH NOCHECK ADD CONSTRAINT [FK_SQBCONVOCATORIA_CODJOGADOR_SQBJOGADOR_CODJOGADOR] FOREIGN KEY([CODJOGADOR]) REFERENCES [dbo].[SQBJOGADOR] ([CODJOGADOR])
ALTER TABLE [dbo].[SQBCONVOCATORIA] NOCHECK CONSTRAINT [FK_SQBCONVOCATORIA_CODJOGADOR_SQBJOGADOR_CODJOGADOR]

ALTER TABLE [dbo].[SQBCONVOCATORIA] WITH NOCHECK ADD CONSTRAINT [FK_SQBCONVOCATORIA_CODJOGO_SQBJOGO_CODJOGO] FOREIGN KEY([CODJOGO]) REFERENCES [dbo].[SQBJOGO] ([CODJOGO])
ALTER TABLE [dbo].[SQBCONVOCATORIA] NOCHECK CONSTRAINT [FK_SQBCONVOCATORIA_CODJOGO_SQBJOGO_CODJOGO]

ALTER TABLE [dbo].[SQBEXERCICIO] WITH NOCHECK ADD CONSTRAINT [FK_SQBEXERCICIO_CODTREINO_SQBTREINO_CODTREINO] FOREIGN KEY([CODTREINO]) REFERENCES [dbo].[SQBTREINO] ([CODTREINO])
ALTER TABLE [dbo].[SQBEXERCICIO] NOCHECK CONSTRAINT [FK_SQBEXERCICIO_CODTREINO_SQBTREINO_CODTREINO]

ALTER TABLE [dbo].[SQBJOGADOR] WITH NOCHECK ADD CONSTRAINT [FK_SQBJOGADOR_CODCLUBE_SQBCLUBE_CODCLUBE] FOREIGN KEY([CODCLUBE]) REFERENCES [dbo].[SQBCLUBE] ([CODCLUBE])
ALTER TABLE [dbo].[SQBJOGADOR] NOCHECK CONSTRAINT [FK_SQBJOGADOR_CODCLUBE_SQBCLUBE_CODCLUBE]

ALTER TABLE [dbo].[SQBPRESENCA] WITH NOCHECK ADD CONSTRAINT [FK_SQBPRESENCA_CODJOGADOR_SQBJOGADOR_CODJOGADOR] FOREIGN KEY([CODJOGADOR]) REFERENCES [dbo].[SQBJOGADOR] ([CODJOGADOR])
ALTER TABLE [dbo].[SQBPRESENCA] NOCHECK CONSTRAINT [FK_SQBPRESENCA_CODJOGADOR_SQBJOGADOR_CODJOGADOR]

ALTER TABLE [dbo].[SQBPRESENCA] WITH NOCHECK ADD CONSTRAINT [FK_SQBPRESENCA_CODTREINO_SQBTREINO_CODTREINO] FOREIGN KEY([CODTREINO]) REFERENCES [dbo].[SQBTREINO] ([CODTREINO])
ALTER TABLE [dbo].[SQBPRESENCA] NOCHECK CONSTRAINT [FK_SQBPRESENCA_CODTREINO_SQBTREINO_CODTREINO]

ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] NOCHECK CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] NOCHECK CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[USERAUTHORIZATION] WITH NOCHECK ADD CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[USERAUTHORIZATION] NOCHECK CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[SQBTREINADOR] WITH NOCHECK ADD CONSTRAINT [FK_SQBTREINADOR_CODCLUBE_SQBCLUBE_CODCLUBE] FOREIGN KEY([CODCLUBE]) REFERENCES [dbo].[SQBCLUBE] ([CODCLUBE])
ALTER TABLE [dbo].[SQBTREINADOR] NOCHECK CONSTRAINT [FK_SQBTREINADOR_CODCLUBE_SQBCLUBE_CODCLUBE]

ALTER TABLE [dbo].[SQBTREINO] WITH NOCHECK ADD CONSTRAINT [FK_SQBTREINO_CODCLUBE_SQBCLUBE_CODCLUBE] FOREIGN KEY([CODCLUBE]) REFERENCES [dbo].[SQBCLUBE] ([CODCLUBE])
ALTER TABLE [dbo].[SQBTREINO] NOCHECK CONSTRAINT [FK_SQBTREINO_CODCLUBE_SQBCLUBE_CODCLUBE]

ALTER TABLE [dbo].[SQBJOGO] WITH NOCHECK ADD CONSTRAINT [FK_SQBJOGO_CODCLUBE_SQBCLUBE_CODCLUBE] FOREIGN KEY([CODCLUBE]) REFERENCES [dbo].[SQBCLUBE] ([CODCLUBE])
ALTER TABLE [dbo].[SQBJOGO] NOCHECK CONSTRAINT [FK_SQBJOGO_CODCLUBE_SQBCLUBE_CODCLUBE]

GO
