*{sqbpresenca}*
GO
USE [W_GnBD]
GO
*{sqbexercicio}*
GO
USE [W_GnBD]
GO
*{sqbtreino}*
GO
USE [W_GnBD]
GO
*{sqbconvocatoria}*
GO
USE [W_GnBD]
GO
*{sqbtreinador}*
GO
USE [W_GnBD]
GO
*{userauthorization}*
GO
USE [W_GnBD]
GO
*{asyncprocessattachments}*
GO
USE [W_GnBD]
GO
*{asyncprocessargument}*
GO
USE [W_GnBD]
GO
*{sqbjogo}*
GO
USE [W_GnBD]
GO
*{sqbjogador}*
GO
USE [W_GnBD]
GO
*{notificationmessage}*
GO
USE [W_GnBD]
GO
*{notificationemailsignature}*
GO
USE [W_GnBD]
GO
*{asyncprocess}*
GO
USE [W_GnBD]
GO
*{userlogin}*
GO
USE [W_GnBD]
GO
*{sqbmem}*
GO
USE [W_GnBD]
GO
*{sqbclube}*
USE [W_GnBD]
update [sqbclube] set
     [valormercadoequipa] = + (select isnull(sum(source.[VALORMERCADO]),0) from [sqbjogador] as source where [sqbclube].[codclube] = source.[codclube] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
