*{sqbclube}*
GO
*{sqbmem}*
GO
*{userlogin}*
GO
*{asyncprocess}*
USE [W_GnBD]
update [s_apr] set [finished] = (case when ([s_apr].[status]='T' or [s_apr].[status]='AB' or [s_apr].[status]='C') then 1 else 0 end) from [asyncprocess] as [s_apr]
GO
*{notificationemailsignature}*
GO
*{notificationmessage}*
GO
*{sqbjogador}*
GO
*{sqbjogo}*
GO
*{asyncprocessargument}*
GO
*{asyncprocessattachments}*
GO
*{userauthorization}*
USE [W_GnBD]
update [s_ua] set [naodupli] = dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo] from [userauthorization] as [s_ua]
update [s_ua] set [nivel] = dbo.GetLevelFromRole(0,[s_ua].[role]) from [userauthorization] as [s_ua]
GO
*{sqbtreinador}*
GO
*{sqbtreino}*
GO
*{sqbconvocatoria}*
GO
*{sqbexercicio}*
GO
*{sqbpresenca}*
GO
