-- recalculo de fórmulas para a tabela SQBPRESENCA
GO
GO
-- recalculo de fórmulas para a tabela SQBEXERCICIO
GO
GO
-- recalculo de fórmulas para a tabela SQBTREINO
GO
GO
-- recalculo de fórmulas para a tabela SQBCONVOCATORIA
GO
GO
-- recalculo de fórmulas para a tabela SQBTREINADOR
USE [W_GnBD]
-- Last value from sqbtreino
update [sqbtreinador] set [lasttreinocriado] = tmptab1.[data] from [sqbtreinador] inner join (select tmpFromTab.[CODTREINADOR], max(tmpFromTab.[data]) as uData from [sqbtreino] as tmpFromTab  where zzstate = 0 group by tmpFromTab.[CODTREINADOR]) as tmptab2 on [sqbtreinador].[codtreinador] = tmptab2.[codtreinador] inner join [sqbtreino] as tmptab1 on [sqbtreinador].[codtreinador] = tmptab1.[codtreinador] where tmptab1.[data] = tmptab2.uData
-- Clean last value from sqbtreino
update [sqbtreinador] set [lasttreinocriado] = NULL where not exists(select [src].[codtreinador] from [sqbtreino] [src] where [src].[codtreinador] = [sqbtreinador].[codtreinador] and [src].[codtreinador] is not null and [src].[zzstate] = 0 group by [src].[CODTREINADOR])
GO
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela UserAuthorization
-- Layer 0
update [s_ua]
SET [s_ua].[naodupli] =dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo]
,[s_ua].[nivel] =dbo.GetLevelFromRole(0,[s_ua].[role])
FROM [userauthorization] AS [s_ua]


GO
GO
-- recalculo de fórmulas para a tabela AsyncProcessAttachments
GO
GO
-- recalculo de fórmulas para a tabela AsyncProcessArgument
GO
GO
-- recalculo de fórmulas para a tabela SQBJOGO
GO
GO
-- recalculo de fórmulas para a tabela SQBJOGADOR
-- Layer 0
update [jogador]
SET [jogador].[idadejogador] =FLOOR(dbo.DateDiffPart([jogador].[datanascimento],cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime),'D')/365)
FROM [sqbjogador] AS [jogador]


GO
GO
-- recalculo de fórmulas para a tabela NotificationMessage
GO
GO
-- recalculo de fórmulas para a tabela NotificationEmailSignature
GO
GO
-- recalculo de fórmulas para a tabela AsyncProcess
-- Layer 0
update [s_apr]
SET [s_apr].[finished] =(case when ([s_apr].[status]='T' or [s_apr].[status]='AB' or [s_apr].[status]='C') then 1 else 0 end)
FROM [asyncprocess] AS [s_apr]


GO
GO
-- recalculo de fórmulas para a tabela UserLogin
GO
GO
-- recalculo de fórmulas para a tabela SQBMEM
GO
GO
-- recalculo de fórmulas para a tabela SQBCLUBE
USE [W_GnBD]
update [sqbclube] set
     [valormercadoequipa] = + (select isnull(sum(source.[VALORMERCADO]),0) from [sqbjogador] as source where [sqbclube].[codclube] = source.[codclube] and source.zzstate = 0)
GO
-- Layer 0
GO
GO


GO
