USE [W_GnBD]
DECLARE @nextcod bigint

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBCLUBE')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBCLUBE', coalesce(cast((select max(codclube) from SQBCLUBE) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBCONVOCATORIA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBCONVOCATORIA', coalesce(cast((select max(codconvocatoria) from SQBCONVOCATORIA) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBEXERCICIO')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBEXERCICIO', coalesce(cast((select max(codexercicio) from SQBEXERCICIO) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBJOGADOR')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBJOGADOR', coalesce(cast((select max(codjogador) from SQBJOGADOR) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBJOGO')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBJOGO', coalesce(cast((select max(codjogo) from SQBJOGO) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBPRESENCA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBPRESENCA', coalesce(cast((select max(codpresenca) from SQBPRESENCA) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserLogin')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserLogin', coalesce(cast((select max(codpsw) from UserLogin) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'AsyncProcessAttachments')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('AsyncProcessAttachments', coalesce(cast((select max(codpranx) from AsyncProcessAttachments) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(codua) from UserAuthorization) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBTREINADOR')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBTREINADOR', coalesce(cast((select max(codtreinador) from SQBTREINADOR) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBTREINO')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBTREINO', coalesce(cast((select max(codtreino) from SQBTREINO) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBMEM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBMEM', coalesce(cast((select max(CODMEM) from SQBMEM) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBCFG', coalesce(cast((select max(CODCFG) from SQBCFG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBUSRSET')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBUSRSET', coalesce(cast((select max(CODUSRSET) from SQBUSRSET) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBUSRCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBUSRCFG', coalesce(cast((select max(CODUSRCFG) from SQBUSRCFG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBWKFACT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBWKFACT', coalesce(cast((select max(CODWKFACT) from SQBWKFACT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBWKFCON')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBWKFCON', coalesce(cast((select max(CODWKFCON) from SQBWKFCON) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBWKFLIG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBWKFLIG', coalesce(cast((select max(CODWKFLIG) from SQBWKFLIG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBWKFLOW')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBWKFLOW', coalesce(cast((select max(CODWKFLOW) from SQBWKFLOW) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBNOTIFI')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBNOTIFI', coalesce(cast((select max(CODNOTIFI) from SQBNOTIFI) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBSCRCRD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBSCRCRD', coalesce(cast((select max(CODSCRCRD) from SQBSCRCRD) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBPOSTIT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBPOSTIT', coalesce(cast((select max(CODPOSTIT) from SQBPOSTIT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBPRMFRM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBPRMFRM', coalesce(cast((select max(CODPRMFRM) from SQBPRMFRM) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBALERTA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBALERTA', coalesce(cast((select max(CODALERTA) from SQBALERTA) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBALTENT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBALTENT', coalesce(cast((select max(CODALTENT) from SQBALTENT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBTALERT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBTALERT', coalesce(cast((select max(CODTALERT) from SQBTALERT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBDELEGA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBDELEGA', coalesce(cast((select max(CODDELEGA) from SQBDELEGA) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBLSTUSR')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBLSTUSR', coalesce(cast((select max(CODLSTUSR) from SQBLSTUSR) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBLSTCOL')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBLSTCOL', coalesce(cast((select max(CODLSTCOL) from SQBLSTCOL) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBLSTREN')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBLSTREN', coalesce(cast((select max(CODLSTREN) from SQBLSTREN) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBUSRWID')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBUSRWID', coalesce(cast((select max(CODUSRWID) from SQBUSRWID) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBTBLCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBTBLCFG', coalesce(cast((select max(CODTBLCFG) from SQBTBLCFG) as bigint) + 1, 1))

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'HASHCD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('HASHCD', coalesce(cast((select max(codHASHCD) from HASHCD) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'DOCUMS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('DOCUMS', coalesce(cast((select max(codDOCUMS) from DOCUMS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(CODUA) from UserAuthorization) as int) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBWORKFLOWPROCESS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBWORKFLOWPROCESS', coalesce(cast((select max(CODPRCESS) from SQBWORKFLOWPROCESS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'SQBWORKFLOWTASK')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('SQBWORKFLOWTASK', coalesce(cast((select max(CODTASK) from SQBWORKFLOWTASK) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'ReportList')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('ReportList', coalesce(cast((select max(CODREPORT) from ReportList) as bigint) + 1, 1))
GO
 