-- Delete all stored procedures that start with Genio.
-- This is needed because previous changes to the procedure signature keep the old versions active,
-- which can pass unnoticed very easily in existing applications
DECLARE @deleteSql NVARCHAR(MAX) = '';
SELECT @deleteSql += 'DROP PROCEDURE ' + QUOTENAME(SCHEMA_NAME(schema_id)) + '.' + QUOTENAME(name) + ';' + CHAR(13)
FROM sys.procedures
WHERE name LIKE 'genio_%';

USE [W_GnBD]
EXEC sp_executesql @deleteSql;
-----------------------------------------------------------
-- CLUBE
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_CLUBE
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CLUBE
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR
update [sqbclube] set
	 [valormercadoequipa] =  + isnull([sum__jogador__codclube].[sum__valormercado], 0)
from [sqbclube] sr__dest
left join (
	SELECT [codclube], sum([valormercado]) as [sum__valormercado]
 FROM [sqbjogador]
 WHERE [zzstate] = 0 
 GROUP BY [codclube]
) [sum__jogador__codclube] ON [sum__jogador__codclube].[codclube] = sr__dest.[codclube]
where (sr__dest.[codclube] = @x OR @x IS NULL);

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
END')
GO
-----------------------------------------------------------
-- CLUBE
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_CLUBE
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CLUBE
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR
update [sqbclube] set
	 [valormercadoequipa] =  + isnull([sum__jogador__codclube].[sum__valormercado], 0)
from [sqbclube] sr__dest
left join (
	SELECT [codclube], sum([valormercado]) as [sum__valormercado]
 FROM [sqbjogador]
 WHERE [zzstate] = 0 
 GROUP BY [codclube]
) [sum__jogador__codclube] ON [sum__jogador__codclube].[codclube] = sr__dest.[codclube]
where (sr__dest.[codclube] in (select item from @x));

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_CLUBE @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for CLUBE
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [clube] set
	[VALORMERCADOEQUIPA] = COALESCE([clube].[VALORMERCADOEQUIPA], 0)
	FROM [sqbclube] AS [clube]

	WHERE ([clube].[codclube] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- MEM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_MEM
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de MEM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- MEM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_MEM
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de MEM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_MEM @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for MEM
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- PSW
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_UserLogin
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PSW
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- PSW
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_UserLogin
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PSW
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_UserLogin @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for PSW
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [psw] set
	[ATTEMPTS] = COALESCE([psw].[ATTEMPTS], 0)
 ,	[STATUS] = COALESCE([psw].[STATUS], 0)
	FROM [userlogin] AS [psw]

	WHERE ([psw].[codpsw] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- S_APR
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_AsyncProcess
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_APR
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_apr]
SET [s_apr].[finished] =(case when ([s_apr].[status]=''T'' or [s_apr].[status]=''AB'' or [s_apr].[status]=''C'') then 1 else 0 end)
FROM [asyncprocess] AS [s_apr]

 where ([s_apr].[codascpr] = @x OR @x IS NULL)
END')
GO
-----------------------------------------------------------
-- S_APR
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_AsyncProcess
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_APR
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_apr]
SET [s_apr].[finished] =(case when ([s_apr].[status]=''T'' or [s_apr].[status]=''AB'' or [s_apr].[status]=''C'') then 1 else 0 end)
FROM [asyncprocess] AS [s_apr]

 where ([s_apr].[codascpr] in (select item from @x))
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_AsyncProcess @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_APR
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [s_apr] set
	[PERCENTA] = COALESCE([s_apr].[PERCENTA], 0)
	FROM [asyncprocess] AS [s_apr]

	WHERE ([s_apr].[codascpr] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- S_NES
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_NotificationEmailSignature
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NES
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_NES
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_NotificationEmailSignature
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NES
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_NotificationEmailSignature @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_NES
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- S_NM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_NotificationMessage
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_NM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_NotificationMessage
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_NotificationMessage @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_NM
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- JOGADOR
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_JOGADOR
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de JOGADOR
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [jogador]
SET [jogador].[idadejogador] =FLOOR(dbo.DateDiffPart([jogador].[datanascimento],cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime),''D'')/365)
FROM [sqbjogador] AS [jogador]

 where ([jogador].[codjogador] = @x OR @x IS NULL)
END')
GO
-----------------------------------------------------------
-- JOGADOR
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_JOGADOR
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de JOGADOR
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [jogador]
SET [jogador].[idadejogador] =FLOOR(dbo.DateDiffPart([jogador].[datanascimento],cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime),''D'')/365)
FROM [sqbjogador] AS [jogador]

 where ([jogador].[codjogador] in (select item from @x))
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_JOGADOR @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for JOGADOR
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [jogador] set
	[NUMEROCAMISOLA] = COALESCE([jogador].[NUMEROCAMISOLA], 0)
 ,	[IDADEJOGADOR] = COALESCE([jogador].[IDADEJOGADOR], 0)
 ,	[VALORMERCADO] = COALESCE([jogador].[VALORMERCADO], 0)
	FROM [sqbjogador] AS [jogador]

	WHERE ([jogador].[codjogador] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- JOGO
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_JOGO
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de JOGO
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- JOGO
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_JOGO
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de JOGO
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_JOGO @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for JOGO
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- S_ARG
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_AsyncProcessArgument
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_ARG
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_ARG
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_AsyncProcessArgument
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_ARG
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_AsyncProcessArgument @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_ARG
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- S_PAX
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_AsyncProcessAttachments
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_PAX
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_PAX
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_AsyncProcessAttachments
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_PAX
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_AsyncProcessAttachments @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_PAX
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- S_UA
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_UserAuthorization
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_UA
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_ua]
SET [s_ua].[naodupli] =dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo]
,[s_ua].[nivel] =dbo.GetLevelFromRole(0,[s_ua].[role])
FROM [userauthorization] AS [s_ua]

 where ([s_ua].[codua] = @x OR @x IS NULL)
END')
GO
-----------------------------------------------------------
-- S_UA
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_UserAuthorization
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_UA
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_ua]
SET [s_ua].[naodupli] =dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo]
,[s_ua].[nivel] =dbo.GetLevelFromRole(0,[s_ua].[role])
FROM [userauthorization] AS [s_ua]

 where ([s_ua].[codua] in (select item from @x))
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_UserAuthorization @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_UA
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [s_ua] set
	[NIVEL] = COALESCE([s_ua].[NIVEL], 0)
	FROM [userauthorization] AS [s_ua]

	WHERE ([s_ua].[codua] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- TREINADOR
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_TREINADOR
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de TREINADOR
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-- UV
update [sqbtreinador] set
	 [LASTTREINOCRIADO] = [uv__treino__codtreinador__0].[data]
from [sqbtreinador] uv__dest
left join (
SELECT [uv_row].[codtreinador], [uv_row].[data]
 FROM [sqbtreino] as [uv_row]
 INNER JOIN (SELECT [codtreinador], max([data]) as [data]
 FROM [sqbtreino]
 WHERE [zzstate] = 0 
 GROUP BY [codtreinador])  as [uv_group] ON [uv_group].[codtreinador] = [uv_row].[codtreinador] AND [uv_group].[data] = [uv_row].[data] 
 WHERE [uv_row].[zzstate] = 0 
) [uv__treino__codtreinador__0] ON [uv__treino__codtreinador__0].[codtreinador] = uv__dest.[codtreinador]
where (uv__dest.[codtreinador] = @x OR @x IS NULL);
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
END')
GO
-----------------------------------------------------------
-- TREINADOR
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_TREINADOR
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de TREINADOR
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-- UV
update [sqbtreinador] set
	 [LASTTREINOCRIADO] = [uv__treino__codtreinador__0].[data]
from [sqbtreinador] uv__dest
left join (
SELECT [uv_row].[codtreinador], [uv_row].[data]
 FROM [sqbtreino] as [uv_row]
 INNER JOIN (SELECT [codtreinador], max([data]) as [data]
 FROM [sqbtreino]
 WHERE [zzstate] = 0 
 GROUP BY [codtreinador])  as [uv_group] ON [uv_group].[codtreinador] = [uv_row].[codtreinador] AND [uv_group].[data] = [uv_row].[data] 
 WHERE [uv_row].[zzstate] = 0 
) [uv__treino__codtreinador__0] ON [uv__treino__codtreinador__0].[codtreinador] = uv__dest.[codtreinador]
where (uv__dest.[codtreinador] in (select item from @x));
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_TREINADOR @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for TREINADOR
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- CONVOCATORIA
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_CONVOCATORIA
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CONVOCATORIA
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- CONVOCATORIA
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_CONVOCATORIA
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CONVOCATORIA
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_CONVOCATORIA @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for CONVOCATORIA
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- TREINO
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_TREINO
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de TREINO
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- TREINO
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_TREINO
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de TREINO
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_TREINO @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for TREINO
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [treino] set
	[NUMJOGADORES] = COALESCE([treino].[NUMJOGADORES], 0)
 ,	[MICROCICLO] = COALESCE([treino].[MICROCICLO], 0)
 ,	[MESOCICLOS] = COALESCE([treino].[MESOCICLOS], 0)
	FROM [sqbtreino] AS [treino]

	WHERE ([treino].[codtreino] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- EXERCICIO
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_EXERCICIO
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de EXERCICIO
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- EXERCICIO
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_EXERCICIO
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de EXERCICIO
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_EXERCICIO @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for EXERCICIO
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [exercicio] set
	[TEMPO] = COALESCE([exercicio].[TEMPO], 0)
 ,	[NUMJOGADOR] = COALESCE([exercicio].[NUMJOGADOR], 0)
	FROM [sqbexercicio] AS [exercicio]

	WHERE ([exercicio].[codexercicio] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- PRESENCA
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_PRESENCA
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PRESENCA
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- PRESENCA
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_PRESENCA
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PRESENCA
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_PRESENCA @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for PRESENCA
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
