*{sqbclube}*
USE [W_GnBD]
GO
*{sqbmem}*
USE [W_GnBD]
GO
*{userlogin}*
USE [W_GnBD]
GO
*{asyncprocess}*
USE [W_GnBD]
GO
*{notificationemailsignature}*
USE [W_GnBD]
GO
*{notificationmessage}*
USE [W_GnBD]
GO
*{sqbjogador}*
USE [W_GnBD]
GO
*{sqbjogo}*
USE [W_GnBD]
GO
*{asyncprocessargument}*
USE [W_GnBD]
GO
*{asyncprocessattachments}*
USE [W_GnBD]
GO
*{userauthorization}*
USE [W_GnBD]
GO
*{sqbtreinador}*
USE [W_GnBD]
update [sqbtreinador] set [lasttreinocriado] = tmptab1.[data] from [sqbtreinador] inner join (select tmpFromTab.[CODTREINADOR], max(tmpFromTab.[data]) as uData from [sqbtreino] as tmpFromTab  where zzstate = 0 group by tmpFromTab.[CODTREINADOR]) as tmptab2 on [sqbtreinador].[codtreinador] = tmptab2.[codtreinador] inner join [sqbtreino] as tmptab1 on [sqbtreinador].[codtreinador] = tmptab1.[codtreinador] where tmptab1.[data] = tmptab2.uData
update [sqbtreinador] set [lasttreinocriado] = NULL where not exists(select [src].[codtreinador] from [sqbtreino] [src] where [src].[codtreinador] = [sqbtreinador].[codtreinador] and [src].[codtreinador] is not null and [src].[zzstate] = 0 group by [src].[CODTREINADOR])
GO
*{sqbconvocatoria}*
USE [W_GnBD]
GO
*{sqbtreino}*
USE [W_GnBD]
GO
*{sqbexercicio}*
USE [W_GnBD]
GO
*{sqbpresenca}*
USE [W_GnBD]
GO
