IF((SELECT COUNT(1) FROM SQBcfg) = 0)
	INSERT INTO SQBcfg (codcfg, checkdat, versao, versindx, manutdat, upgrindx, zzstate) VALUES ('     1', GETDATE(), 2505, 0, NULL, 0, 0)
ELSE
  UPDATE SQBcfg set versao = 2505, upgrindx = 0;
GO
